.services-bar {
  width: 40%;
  margin: 20px auto;
}

.service {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.service img {
  width: 64px;
  height: 64px;
}

.service .tick-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 16px;
  height: 16px;
}
