body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding-top: 20px;
  margin: 0 auto;
  width: 70%;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
