body {
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-cloud-upload {
  margin-left: 5px;
}

.message {
  margin: 20px 0;
  text-align: center;
}

.download {
  margin: 10px 0;
  text-align: center;
}
